<form class="new-blog-form">

    <div class="form-header">
        <p>Create New Blog</p>
    </div>
    
    <div class="form-body">
        <div>
            <label for="post-title">Blog Title:</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        
        <div>
            <label for="post-content">Blog Text:</label>
            <textarea class="textarea" name="post-content"></textarea>
        </div>
        
        <button type="submit" class="btn">Create Blog!</button>
    </div>

</form>

<script src="/javascript/add-post.js"></script>